<%= render 'shared/errors', obj: @article %>
<%=  form_with(model: @article, local: true, data: { turbo: false }) do |f|%>
  <div class="form-group">
    <%= f.label :title %> <br/>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter Title" %> <br/>
  </div>
  <div class="form-group">
    <%= f.label :description %> <br/>
    <%= f.text_area :description, class: "form-control", placeholder: "Enter Description" %> <br/>
  </div>
  <div class="form-group">
    <%= f.label :category %> <br/>
    <%= f.collection_select(:category_ids, Category.all, :id, :name, {prompt: "Select a Category"}, {multiple: true, class: "form-select"}) %>
  </div>
  <%= f.submit class: "btn btn-primary mr-2" %>
  <%= link_to '[ Cancel and return to Articles ]', articles_path %>
<% end %>
