<%= render 'shared/errors', obj: @user %>
<%=  form_with(model: @user, local: true, data: { turbo: false }) do |f|%>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control", placeholder: "Enter Username" %>
  </div>
  <div class="form-group">
    <%= f.label :email  %>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter Email" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
  </div>
  <%= f.submit(@user.new_record? ? 'Sign up' : 'Update Account', class: "btn btn-primary mr-2") %>
  <%= link_to '[ Cancel and return to Articles ]', articles_path %>
<% end %>
